* {
    text-align: center;
    font-family: Arial;
}
a {
    text-decoration: none;
}

/* Homepage (index.html) */
.index-header {
    background-color: #004080;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    color: white;
}

.navigation {
    padding: 10px;
    background-color: #003366;
    display: flex;
    justify-content: space-around;
}

.navigation a {
    color: white;
    margin: 0 100px;
}

.navigation a:hover {
    text-decoration: underline;
}

.index-main {
    background-color: #d4d4d4;
    padding: 20px;
    /* margin: 20px; */
}

.index-main h2 {
    color: #08519c;
}

.index-main ul {
    display: inline-block;
}

.key-ft {
    font-weight: bold;
}

.index-footer {
    background-color: #004080;
    padding: 10px;
    color: white;
}
